.Home {

    width: 1366px;
    height: auto;
}

.list {
    display: flex;
    justify-content: space-between;
    /* Distribute items evenly along the main axis */
    padding: 0;
    list-style-type: none;
    /* Remove default list styles */
}

.list li {
    flex: 1;
    /* Each list item takes up an equal amount of space */
}


.car-item {
    display: flex;
    flex-direction: column;
}

.car-detail {
    display: flex;
    margin-bottom: 5px;
    /* Optional: Add spacing between entries */
}

.key {
    font-weight: bold;
    /* Optional: If you want to style the keys differently */
    margin-right: 5px;
    /* Optional: Add spacing between key and value */
}

.value {
    /* Optional: Style the value span as needed */
}